@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: auto;
    text-align: center;
}

div#limite {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 400px;
    height: 400px;
    border: solid 5px black;
}

div#campo {
    background-color: crimson;
    width: 400px;
    height: 400px;
}

div#player {
    background-color: purple;
    width: 30px;
    height: 50px;
    border: 2px solid black;
    position: absolute;
    transform: translate(50%, 50%);
}

div#botoes {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    background-color: black;
    color: white;
}