@charset "UTF-8";


body {
    background-image: linear-gradient(to bottom, darkgreen, black);
    background-attachment: fixed;
    text-align: center;
}

header {
    text-align: center;
    color: white;
}

#placar {
    margin: auto;
    background-color: rgb(127, 163, 123);
    width: 510px;
    height: 50px;
    border-radius: 10px 10px 0px 0px 
}

#campo {
    transform: translate();
    border-radius: 10px;
    border: solid 2px black;

}

footer {
    text-align: center;
    color: white;
}