@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Quicksand&family=Shadows+Into+Light&display=swap');


@media screen and (max-width: 627px){

    * {
        padding: 0px;
        margin: 0px;
    }

    header {
        background-color: black;
        color: white;
        text-align: center;
        padding: 30px;
    }

    body {
        text-align: center;
        background-image: linear-gradient(to bottom, darkred, black);
        background-attachment: fixed;
    }

    main {
        padding: 50px;
        margin: 50px;
        
    }

    h1, h2, p {
        font-family: 'Handjet', cursive;
        font-family: 'Shadows Into Light', cursive;
    }

    table {
        margin: auto;
        border-collapse: collapse;
        background-color: white;
    }
    
    th, tr, td {
        border: 1px solid black;
        padding: 1px;
        text-align: center;
    }

    th {
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Handjet', cursive;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Shadows Into Light', cursive;
    }

    td {
        padding: 5px;
    }

    .tarefa {
        width:800px;
    }

    .feito {
        width: 60px;
    }

    .data {
        width: 200px;
    }

    input.tarefa_input {
        width: 99%;
    }

    ::placeholder {
        text-align: center;
    }

    div#botoes {
        margin: auto;
    }

    button {
        display: inline;
        width: 100px;
        margin-top: 50px;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 60% 0%;
        background-color: cadetblue;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.718);
    }


    footer {
        background-color: black;
        color: white;
        text-align: center;
    }

}


@media screen and (min-width: 627px){

    * {
        padding: 0px;
        margin: 0px;
    }

    header {
        background-color: black;
        color: white;
        text-align: center;
        padding: 30px;
    }

    body {
        text-align: center;
        background-image: linear-gradient(to bottom, darkred, black);
        background-attachment: fixed;
    }

    main {
        padding: 50px;
        margin: 50px;
        
    }

    h1, p {
        font-family: 'Handjet', cursive;
        font-family: 'Shadows Into Light', cursive;
    }

    h2 {
        display: none;
    }

    table {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        background-color: white;
    }
    
    th, tr, td {
        border: 1px solid black;
        padding: 1px;
        text-align: center;
    }

    th {
        font-family: 'Handjet', cursive;
        font-family: 'Quicksand', sans-serif;
        font-family: 'Shadows Into Light', cursive;
    }

    td {
        padding: 5px;
    }

    .tarefa {
        width:800px;
    }

    .feito {
        width: 60px;
    }

    .data {
        width: 200px;
    }

    input.tarefa_input {
        width: 99%;
    }

    ::placeholder {
        text-align: center;
    }

    button {
        width: 100px;
        margin-top: 50px;
        padding: 10px;
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 10% 10%;
        background-color: cadetblue;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.718);
    }


    footer {
        background-color: black;
        color: white;
        text-align: center;
    }

}
