@charset "UTF-8";

@media screen and (max-width: 645px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    header {
        background-color: black;
    }

    body {
        background-image: linear-gradient(to bottom, darkblue, black);
        background-attachment: fixed;
    }


    input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 30px;
        width: 150px;
        height: 100px;
        text-align: center;
    }

    select {
        border-radius: 30px;
        width: 90px;
        height: 40px;
    }

    button {
        border-radius: 30px;
        width: 90px;
        height: 30px;
        margin: 10px;
    }

    ::placeholder {
        text-align: center;
    }

    h1, h2, p {
        color: white;
        padding: 5px;
        margin-bottom: 10px;
        text-align: center;
    }

    option {
        text-align: center;
    }

    p#texto {
        text-align: center;
    }

    footer {
        text-align: center;
        background-color: black;
    }
}

@media screen and (min-width: 645px){
    * {
        margin: 0px;
        padding: 0px;
    }
    
    header {
        padding: 25px;
        text-align: center;
        background-color: black;
    }
    
    body {
        background-image: linear-gradient(to bottom, darkblue, black);
        background-attachment: fixed;
    }
    
    main {
        padding: 50px;
        margin: 50px;
    }
    
    input {
        height: 40px;
        border-radius: 10px;
        text-align: center;
    }
    
    ::placeholder{
        text-align: center;
    }
    
    option {
        text-align: center;
    }
    
    select {
        height: 30px;
        border-radius: 30px;
    }
    
    button {
        margin: 30px;
        height: 30px;
        width: 90px;
        border-radius: 20px;
    }
    
    p#texto {
        text-align: center;
    }
    
    div#res {
        text-align: center;
        padding: 40px;
    }
    
    h1, h2, p {
        color: white;
        padding: 2px;
    }
    
    footer {
        background-color: black;
        text-align: center;
    }
}